<%= provide(:page_title, 'Contact to Punch') %>
<%= provide(:page_description, 'Have a question, found a bug, or wish us did something more? Let us know!') %>
<%= provide(:page_url, contact_url) %>

<% content_for(:header) do %>
<%= render partial: 'shared/header', locals: { nav_id: 'index-nav' } %>
<% end %>

<% content_for(:footer) do %>
<%= render 'shared/footer' %>
<% end %>

<% content_for(:js) do %>
<%= render 'shared/crisp' %>
<% end %>

<div class="main main-mt-0">
  <div class="contact bg-linear-blue">
    <div class="container contact-container">
      <h1>Hello World!! Hello Server!!!</h1>
      <h1 class="text-center"><%= t('.title') %></h1>
      <p class="text-center"><%= t('.instruction') %> <%= link_to t('.features_link'), features_path %></p>

      <div class="contact-form">
        <form class="form" action="https://docs.google.com/forms/d/e/1FAIpQLSfFe0wAmMMPM0W6BWbTMGHrj0FMRH4-CE8WHkC43COmwhgNYA/formResponse" target="_self" method="POST" id="mG61Hd">
          <input type="hidden" name="fvv" value="1">
          <input type="hidden" name="draftResponse" value="[null,null,&quot;-2168202203579643943&quot;]">
          <input type="hidden" name="pageHistory" value="0">
          <input type="hidden" name="fbzx" value="-2168202203579643943">

          <div class="form-group">
            <label class="form-label"><%= t('.label.name') %></label>
            <input type="text" class="form-input" autocomplete="off" name="entry.690197780" value="" required>
          </div>

          <div class="form-group">
            <label class="form-label"><%= t('.label.email') %></label>
            <input type="email" class="form-input" autocomplete="off" name="entry.486098797" value="" required>
          </div>

          <div class="form-group">
            <label class="form-label"><%= t('.label.message') %></label>
            <textarea class="form-input" name="entry.1118070560" required="" placeholder></textarea>
          </div>

          <div class="form-group">
            <button type="submit" class="btn"><%= t('.submit') %></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
