<%= provide(:page_title, 'Contact to Punch') %>
<%= provide(:page_description, 'Have a question, found a bug, or wish us did something more? Let us know!') %>
<%= provide(:page_url, contact_url) %>

<% content_for(:header) do %>
<%= render partial: 'shared/header', locals: { nav_id: 'index-nav' } %>
<% end %>

<% content_for(:footer) do %>
<%= render 'shared/footer' %>
<% end %>

<% content_for(:js) do %>
<%= render 'shared/crisp' %>
<% end %>

<div class="main main-mt-0">
  <div class="contact bg-linear-blue">
    <div class="container contact-container">
      <h1 class="text-center"><%= t('.title') %></h1>
      <p class="text-center"><%= t('.instruction') %> <%= link_to t('.features_link'), features_path %></p>

      <div class="contact-form">
        <form class="form js-form" action="https://docs.google.com/forms/d/e/1FAIpQLSemF8czJOX0ed6OUU0VEka6z5Q34zP5ryLwp3b52IOPRqIjSA/formResponse" target="_self" method="POST" id="mG61Hd">
          <input type="hidden" name="fvv" value="1">
          <input type="hidden" name="draftResponse" value="[null,null,&quot;7747585185899294119&quot;]">
          <input type="hidden" name="pageHistory" value="0">
          <input type="hidden" name="fbzx" value="7747585185899294119">

          <div class="form-group">
            <label class="form-label"><%= t('.label.name') %></label>
            <input type="text" class="form-input" autocomplete="off" name="entry.1021487635" value="">
          </div>

          <div class="form-group">
            <label class="form-label"><%= t('.label.email') %> <strong class="text-red">*</strong></label>
            <input type="email" class="form-input" autocomplete="off" name="entry.1449509462" value="" required>
          </div>

          <div class="form-group">
            <label class="form-label"><%= t('.label.message') %> <strong class="text-red">*</strong></label>
            <textarea class="form-input" name="entry.245985204" required></textarea>
          </div>

          <div class="form-group">
            <div class="g-recaptcha" data-sitekey="6Ld2rKUUAAAAADJRoDisWCMYAaOC-mYXJHYNzgNj" data-theme="dark"></div>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-submit-form"><%= t('.submit') %></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
