<%= provide(:page_title, 'Features | Punch') %>
<%= provide(:page_description, 'Increase attendance efficiency of your team lightweight tools and features Punch provide.'%>
<%= provide(:page_url, features_url) %>

<% content_for(:header) do %>
<%= render 'shared/header' %>
<% end %>

<% content_for(:footer) do %>
<%= render 'shared/footer' %>
<% end %>

<% content_for(:js) do %>
<%= render 'shared/chat_tawk_to' %>
<% end %>

<div id="main" class="main">
  <section class="description">
    <p class="text-center text-blue">Features</p>
    <h2 class="section-title">Some fancy introdution<br>about features</h2>
    <div class="container">
      <div class="columns description-content col-reverse">
        <div class="column col-4 col-md-10 col-sm-12 col-mx-auto description-section">
          <div class="description-text">
              <h3 class="text-bold">Easy to Punch</h3>
              <p>Punch allows to quickly and easily check-in and out in your workplace, using our mobile app and website, attendance management cant never be this easy.</p>
              <ul>
                <li>Multiple platform</li>
                <li>Anytime, Anywhere</li>
              </ul>
          </div>
        </div>
        <div class="column col-8 col-md-10 col-sm-12 col-mx-auto description-section">
          <img src="<%= asset_url('img_features_01.png') %>">
        </div>
      </div>
      <div class="columns description-content">
        <div class="column col-8 col-md-10 col-sm-12 col-mx-auto description-section">
          <img class="animated-img-back" src="<%= asset_url('img_features_02_back.png') %>">
          <div class="animated">
            <img class="animated-img-front" src="<%= asset_url('img_features_02_front.png') %>">
            <span>Attend Late</span>
            <span>Leave Early</span>
            <span>Attend Ok</span>
            <span>Absent</span>
            <span>Holiday</span>
          </div>
        </div>
        <div class="column col-4 col-md-10 col-sm-12 col-mx-auto description-section">
          <div class="description-text">
              <h3 class="text-bold">Data visualization</h3>
              <p>Punch In, check anywhere, update easily. With Punch, you will no longer browsing through a long datasheet and wonder what that number is - Everything is visualize.</p>
              <ul>
                <li>Monthly view</li>
                <li>Data visualization</li>
                <li>Easy to understand status</li>
              </ul>
          </div>
        </div>
      </div>
      <div class="columns description-content col-reverse">
        <div class="column col-4 col-md-10 col-sm-12 col-mx-auto description-section">
          <div class="description-text">
              <h3 class="text-bold">Sending requests<br>effort-less</h3>
              <p>Coming late to office but with a reasonable excuse - with just one click, your request will be send direct to your manager. No more waiting, no more wasting time filling up boring form.</p>
              <ul>
                <li>Changing time request </li>
                <li>Annual leave request</li>
              </ul>
          </div>
        </div>
        <div class="column col-8 col-md-10 col-sm-12 col-mx-auto description-section">
          <img src="<%= asset_url('img_features_03.png') %>">
        </div>
      </div>
      <div class="columns description-content">
        <div class="column col-8 col-md-10 col-sm-12 col-mx-auto description-section">
          <img src="<%= asset_url('img_features_04.png') %>">
        </div>
        <div class="column col-4 col-md-10 col-sm-12 col-mx-auto description-section">
          <div class="description-text">
              <h3 class="text-bold">Group management</h3>
              <p>With this feature, managing attendance status a of a big team is like walking in a park, by putting dividing people in groups, managing is significantly simpler.</p>
              <ul>
                <li>In-group management</li>
                <li>Group attendance status</li>
              </ul>
          </div>
        </div>
      </div>
      <div class="columns description-content col-reverse">
        <div class="column col-4 col-md-10 col-sm-12 col-mx-auto description-section">
          <div class="description-text">
              <h3 class="text-bold">Comprehensive report</h3>
              <p>Punch allows you to create an attendance report in just one minute, which can be then re-used for other purposes, such as payroll, performance evaluation.</p>
              <ul>
                <li>Export CSV</li>
                <li>Group reports</li>
              </ul>
          </div>
        </div>
        <div class="column col-8 col-md-10 col-sm-12 col-mx-auto description-section">
          <img src="<%= asset_url('img_features_05.png') %>">
        </div>
      </div>
      <div class="columns description-content">
        <div class="column col-8 col-md-10 col-sm-12 col-mx-auto description-section">
          <img src="<%= asset_url('img_features_06.png') %>">
        </div>
        <div class="column col-4 col-md-10 col-sm-12 col-mx-auto description-section">
          <div class="description-text">
              <h3 class="text-bold">Flexible settings</h3>
              <p>With Punch is built with flexibility in mind, no matter how your team company operate, from business day to holiday - we have an setting for that.</p>
              <ul>
                <li>Flexible workday</li>
                <li>Import holiday from countries</li>
                <li>IP base attendance</li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="trial bg-linear-blue">
      <div class="trial-content">
        <h2 class="trial-title">Free trial up to 30 days sign up now !</h2>
        <div class="input-group">
          <input type="email" class="form-input input-lg" placeholder="Enter your email!">
          <button class="btn btn-primary input-group-btn btn-lg">Try it free</button>
        </div>
      </div>
  </section>
</div>
