<%= provide(:page_title, 'Get Started with Punch') %>
<%= provide(:page_description, 'Get Started with Punch') %>
<%= provide(:page_url, get_started_url) %>

<% content_for(:header) do %>
<%= render partial: 'shared/header', locals: { nav_id: 'index-nav' } %>
<% end %>

<% content_for(:footer) do %>
<%= render 'shared/footer' %>
<% end %>

<% content_for(:js) do %>
<%= render 'shared/crisp' %>
<% end %>

<div class="main main-mt-0">
  <div class="contact bg-linear-blue">
    <div class="container contact-container">
      <h1 class="text-center"><%= t('.title') %></h1>
      <p class="text-center"><%= t('.instruction_html') %></p>

      <div class="contact-form">
        <form class="form" action="https://docs.google.com/forms/d/e/1FAIpQLSdbmAfk3YVVWBEXt3sLhf5BC5yZbFqPEwDid3M8FbvoMZd28Q/formResponse" target="_self" method="POST" id="mG61Hd">
          <input type="hidden" name="fvv" value="1">
          <input type="hidden" name="draftResponse" value="[null,null,&quot;-3826634020807977928&quot;]">
          <input type="hidden" name="pageHistory" value="0">
          <input type="hidden" name="fbzx" value="-3826634020807977928">

          <div class="form-group">
            <label class="form-label"><%= t('.label.company_name') %></label>
            <input type="text" class="form-input" autocomplete="off" name="entry.28837624" value="">
          </div>

          <div class="form-group">
            <label class="form-label"><%= t('.label.email') %></label>
            <input type="email" class="form-input" autocomplete="off" name="entry.1214969370" value="" required>
          </div>

          <div class="form-group">
            <label class="form-label"><%= t('.label.phone_number') %></label>
            <input type="text" class="form-input" autocomplete="off" name="entry.1284051369" value="">
          </div>

          <div class="form-group">
            <label class="form-label"><%= t('.label.message') %></label>
            <textarea class="form-input" name="entry.2026176465" required></textarea>
          </div>

          <div class="form-group">
            <div class="g-recaptcha" data-sitekey="6LfsrKUUAAAAANkeH4axY19O5jHKA4q4jH0ULFc0" data-theme="dark"></div>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-submit-form"><%= t('.submit') %></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
