<%= provide(:page_title, 'Support | Punch') %>
<%= provide(:page_description, 'Punch Support team is always ready to answer any and all questions you may have.') %>
<%= provide(:page_url, help_url) %>

<% content_for(:header) do %>
<%= render 'shared/top_header' %>
<% end %>

<% content_for(:footer) do %>
<%= render 'shared/footer' %>
<% end %>

<% content_for(:js) do %>
<%= render 'shared/chat_tawk_to' %>
<% end %>

<section class="section-mh bg-linear-blue">
  <h1>Coming Soon!</h1>
</section>
