<%= provide(:page_title, '404 page not found') %>
<%= provide(:page_description, 'The web page you looking for does not exist.') %>
<%= provide(:page_url, root_url) %>

<% content_for(:header) do %>
<%= render partial: 'shared/header', locals: { nav_klass: 'nav-inverse' } %>
<% end %>

<div class="main pt-40 pb-80">
  <div class="container text-center">
    <img class="img-error" src="<%= asset_url('404.png') %>" alt="404 image">
    <h2>Nothing to see here, Captain!</h2>
    <h4>Punch the button below to space jump</h4>
    <%= link_to 'To Homepage', root_path, class: "btn" %>
  </div>
</div>
