<%= provide(:page_title, 'Punch: Simple attendance mangement application ') %>
<%= provide(:page_description, 'Difficult to manage employee attendance ?, Punch is here to help making it as easy as ever with our managing solution.') %>
<%= provide(:page_url, root_url) %>

<% content_for(:header) do %>
<%= render partial: 'shared/header', locals: { nav_id: 'index-nav' } %>
<% end %>

<% content_for(:footer) do %>
<%= render 'shared/footer' %>
<% end %>

<% content_for(:js) do %>
<%= render 'shared/crisp' %>
<% end %>

<div class="main main-mt-0">
  <div class="hero bg-linear-blue">
    <div class="container">
      <div class="hero-content">
        <div class="hero-introduction">
          <div class="hero-introduction-text">
            <h1 class="hero-title">Difficult to manage employees attendance ?</h1>
            <p>We are here to help you getting through your problem as easy as ever, no more blank timesheet, no more inaccurate work time report and your work efficiency will increase significantly with Punch.</p>
            <%= link_to 'Get Started', get_started_url, class: 'btn btn-get-started navbar-link' %>
          </div>
        </div>
        <div class="hero-img">
          <img src="<%= asset_url('img_hero_01.png') %>" alt="Punch screenshot">
        </div>
      </div>
    </div>
  </div>

  <% unless Rails.env.production? %>
  <div class="bg-white">
    <div class="container scroller">
      <div class="scroller-control">
        <div class="scroller-slider">
          <div class="scroller-slider-item">
            <svg width="40px" height="49px" viewBox="0 0 40 49" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="currentColor">
              <path d="M22.5451533,3.71144311 C24.3161175,1.64257355 27.3095511,0.103443478 29.7796955,0 C30.0947649,2.87409538 28.9353094,5.75200183 27.2218796,7.82577136 C25.5046142,9.8957298 22.6947428,11.5083592 19.9369263,11.2933056 C19.5621307,8.48127634 20.9511759,5.54892595 22.5451533,3.71144311 M36.597798,42.9165214 C34.5479289,45.9027713 32.4284705,48.8715991 29.0810632,48.9342096 C25.7868068,48.9962757 24.7314612,46.9894723 20.9725458,46.9894723 C17.2097949,46.9894723 16.0317091,48.8715991 12.9226588,48.9968202 C9.69141621,49.1176857 7.23387462,45.7704725 5.16811501,42.7972892 C0.947280473,36.7169904 -2.27574286,25.606072 2.05742078,18.1075087 C4.20318062,14.3835434 8.04867157,12.0277543 12.2147114,11.9651438 C15.3884195,11.9068888 18.3862367,14.0977128 20.3237768,14.0977128 C22.2657004,14.0977128 25.9046154,11.4675262 29.7292844,11.8535337 C31.330385,11.9194109 35.8240971,12.4965166 38.7106811,16.7055773 C38.4827352,16.8547537 33.3468294,19.8333814 33.4087474,26.0378124 C33.4712134,33.4492654 39.9249313,35.9117646 40,35.9455198 C39.9413697,36.1197404 38.9676681,39.4620537 36.597798,42.9165214"></path>
            </svg>
          </div>
          <div class="scroller-slider-item">
            <svg width="118px" height="32px" viewBox="0 0 118 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="currentColor">
              <path d="M12.1428571,0 L17,0 L17,29.7969776 C15.0571429,30.0412151 13.1094286,30.2805679 11.4142857,30.5296901 C8.98571429,24.4237521 4.85714286,13.9215387 4.85714286,13.9215387 L4.85714286,31.2624027 C5.82371429,31.2624027 4.37142857,31.2624027 0,32 L0,0.249122271 L4.85714286,0.249122271 L12.1428571,18.0686918 L12.1428571,0 Z"></path>
                <path d="M36,4.83333333 L36,0 L22,0 L22,29 C26.6617544,28.5166667 31.3333333,28.0381667 36,27.5451667 L36,22.7118333 C33.0526316,22.9583333 30.1052632,22.9583333 26.9122807,23.68575 L26.9122807,16.9166667 L34.2807018,16.9166667 L34.2807018,12.0833333 L26.9122807,12.0833333 L26.9122807,4.83333333 C28.3908772,5.07983333 34.7719298,5.07983333 36,4.83333333 Z"></path>
                <path d="M39,4.82142857 L44,4.82142857 L44,27 C45.75,27 47.25,27 49,26.76375 L49,4.82142857 L54,4.82142857 L54,0 L39,0 L39,4.82142857 Z"></path>
                <polygon points="70 0 56 0 56 27 60.9982149 27 60.9982149 17.1818182 67.7458051 17.1818182 67.7458051 12.2727273 60.9982149 12.2727273 60.9982149 4.90909091 70 4.90909091"></polygon>
                <path d="M77.8165987,22.9270815 L77.8165987,0 L73,0 L73,27.0298224 C77.3349389,27.2711601 81.6746943,27.5076711 86,28 L86,23.4073436 C83.3580956,23.173246 80.4705446,22.9270815 77.8165987,22.9270815 Z"></path>
                <path d="M91,28.5173979 C92.75,28.7611363 94.25,28.7611363 96,29 L96,0 L91,0 L91,28.5173979 Z"></path>
                <path d="M111.426912,15.0104615 C113.622805,10.0873846 115.570657,5.16430769 117.754391,0 L112.404485,0 C111.188598,3.19015385 110.211024,5.41292308 108.995136,8.36430769 C107.779249,5.16430769 107.059443,2.94892308 105.843556,0 L100.483923,0 C102.431775,4.92307692 104.131586,9.84615385 106.327479,15.008 C104.131586,19.9310769 102.193461,24.8541538 100,29.7772308 C101.702243,30.0283077 103.411781,30.2695385 105.111591,30.5181538 C106.327479,27.3181538 107.543367,25.1027692 108.759254,21.9027692 C109.975142,25.344 111.191029,27.8055385 112.406917,31.2566154 C114.106728,31.4978462 116.290462,31.7489231 118,32 C115.568225,26.0849231 113.374764,20.1821538 111.426912,15.008 L111.426912,15.0104615 Z"></path>
            </svg>
          </div>
          <div class="scroller-slider-item">
            <svg width="96px" height="32px" viewBox="0 0 96 32" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="currentColor">
              <path d="M95.8340888,7.57980267 C94.5302082,0.0927578944 72.0342082,-2.24371972 45.5859694,2.360937 C34.4786261,4.29574297 24.449253,7.14947431 16.6388649,10.3599818 C17.8386261,10.3862504 18.7284171,10.6613549 19.2690738,11.2005788 C19.6917604,11.623743 19.905253,12.2045191 19.905253,12.9281012 L19.905253,13.6707877 L17.3118201,13.6707877 L17.3118201,13.0150266 C17.3118201,12.4686385 16.9841783,12.1300116 16.4038798,12.1300116 C15.916238,12.1300116 15.6158201,12.3501907 15.5188649,12.7838624 C15.4863706,12.9552962 15.4899491,13.1316195 15.5293724,13.3015937 C15.8068649,14.4359221 19.65785,15.1403997 20.0767156,17.2337728 C20.131641,17.503146 20.2061485,18.0796236 20.0886559,18.9044594 C19.8484171,20.5928176 18.3649544,21.2442803 16.4764768,21.2442803 C13.8405365,21.2442803 12.7697306,19.9958027 12.7697306,18.2744892 L12.771641,17.4601609 L15.5518201,17.4601609 L15.553253,18.4746086 C15.553253,19.0448773 15.9678201,19.3596236 16.5323574,19.3596236 C17.0672828,19.3596236 17.379641,19.1442206 17.4875813,18.7038624 C17.5377306,18.5013549 17.5597007,18.2028474 17.4684768,17.9745489 C16.9540888,16.6840415 13.3581485,16.0812952 12.9154022,13.9946086 C12.8165365,13.5255937 12.8084171,13.1263101 12.8905664,12.6214743 C12.9327145,12.3712229 13.0102263,12.1282346 13.1207753,11.8998027 C4.45737235,15.9513848 -0.610567944,20.4094146 0.0590439958,24.2584892 C1.36435743,31.7464892 23.8598798,34.0805788 50.307641,29.4759221 C61.9336709,27.4522803 72.3857306,24.4227877 80.3403574,21.0279221 C80.225253,21.0336534 80.1134918,21.0460713 79.9940888,21.0460713 C78.1839395,21.0460713 76.5677007,20.3678624 76.4000589,18.5175937 C76.370447,18.1808773 76.3651932,18.0399818 76.364238,17.8479818 L76.3651932,13.5943698 C76.3651932,13.4109668 76.3866858,13.0890564 76.4072231,12.9228474 C76.6216709,11.1346683 78.0354022,10.3972355 79.995044,10.3972355 C81.5114619,10.3972355 83.3708052,10.83234 83.5752231,12.9242803 C83.602447,13.1869668 83.5995813,13.4673251 83.5991037,13.5595042 L83.5991037,13.9611758 L80.9798798,13.9611758 L80.9798798,13.3617728 C80.9798798,13.3488773 80.9760589,13.1248773 80.9474022,12.984937 C80.9044171,12.7714445 80.722447,12.2766385 79.9764171,12.2766385 C79.2394619,12.2766385 79.0484171,12.7723997 79.0006559,12.9854146 C78.9734321,13.1024295 78.9605365,13.2705489 78.9605365,13.4568176 L78.9605365,18.0796236 C78.9581485,18.2401012 78.9662679,18.3657131 78.9825067,18.4578922 C78.9954022,18.5304892 79.1277007,19.1676236 79.9854918,19.1676236 C80.8370738,19.1676236 80.9688947,18.5304892 80.980835,18.4578922 C81.0032828,18.3327579 81.0061485,18.183743 81.0051932,18.0796236 L81.0051932,16.6472654 L79.9745067,16.6472654 L79.9745067,15.1045788 L83.6191634,15.1045788 L83.6191634,17.848937 C83.6182082,18.0356833 83.6153425,18.1737131 83.5838201,18.5175937 C83.5398798,19.0028474 83.387044,19.4135937 83.1472828,19.7646385 C91.5833425,15.7589071 96.4951037,11.3729967 95.8340888,7.57980267 Z M27.2547455,20.8492952 L25.9279395,11.8338922 L25.8801783,11.8338922 L24.5194619,20.8492952 L21.723044,20.8492952 L23.6038798,10.6680415 L28.1665067,10.6680415 L30.0358798,20.8492952 L27.2547455,20.8492952 Z M40.705253,20.8492952 L40.643641,12.0082206 L40.5987455,12.0082206 L38.9533724,20.8492952 L36.3288947,20.8492952 L34.691641,12.0082206 L34.644835,12.0082206 L34.5851335,20.8492952 L31.9845365,20.8492952 L32.2099694,10.6680415 L36.3928947,10.6680415 L37.6108052,18.2310266 L37.6705067,18.2310266 L38.8917604,10.6680415 L43.0727753,10.6680415 L43.297253,20.8492952 L40.705253,20.8492952 Z M52.9517007,18.8762803 C52.6718201,20.84834 50.7398798,21.1931758 49.3743873,21.1931758 C47.1071634,21.1931758 45.7048947,20.2241012 45.7048947,18.2520415 L45.7063276,17.447743 L48.4530738,17.447743 L48.4549843,18.4497728 C48.4549843,18.9937728 48.8385067,19.3266683 49.4307455,19.3266683 C49.9589843,19.3266683 50.2684768,19.1146086 50.3759395,18.6790266 C50.4256112,18.4760415 50.4461485,18.1799221 50.3582679,17.9563997 C49.8519992,16.6902504 46.284238,16.0698325 45.8505664,14.0156236 C45.7512231,13.5499519 45.7440589,13.1544892 45.8257306,12.6549071 C46.1275813,10.7926982 47.9148052,10.4058325 49.3533724,10.4058325 C50.6400589,10.4058325 51.5766559,10.6866683 52.1383276,11.24834 C52.5571932,11.6676833 52.769253,12.2432057 52.769253,12.959146 L52.769253,13.6937131 L50.2006559,13.6937131 L50.2006559,13.0455937 C50.2006559,12.4906086 49.8562977,12.1696534 49.3027455,12.1696534 C48.8117604,12.1696534 48.5146858,12.3879221 48.417253,12.8172952 C48.3856303,12.9869595 48.3898602,13.1613635 48.4296709,13.3292952 C48.7047753,14.4583698 52.52185,15.1485191 52.9397604,17.2223101 C52.9937306,17.4869071 53.0677604,18.0547877 52.9517007,18.8762803 Z M62.4647753,17.951146 C62.4685962,18.1421907 62.4499694,18.5238027 62.4394619,18.6217131 C62.2828052,20.2990863 61.083044,21.1516236 58.8826858,21.1516236 C56.6737306,21.1516236 55.4730141,20.2990863 55.3173127,18.6217131 C55.299667,18.3992714 55.291222,18.1761955 55.2919992,17.9530564 L55.2919501,10.6656534 L57.9198201,10.6656534 L57.9198201,18.1827877 C57.9169544,18.3509071 57.9255515,18.4750863 57.9422679,18.561534 C57.9747455,18.7286982 58.1409544,19.2712654 58.8826858,19.2712654 C59.6220291,19.2712654 59.788238,18.7282206 59.8231037,18.5634445 C59.8379097,18.4746086 59.8469843,18.3442206 59.8469843,18.1823101 L59.8469843,10.6656534 L62.4647753,10.6656534 L62.4647753,17.951146 Z M73.7865664,20.7456534 L70.1299694,20.7456534 L67.6755216,12.6811758 L67.634447,12.6811758 L67.7705664,20.7456534 L65.2220291,20.7456534 L65.2220291,10.6680415 L69.0319395,10.6680415 L71.3005962,18.4149071 L71.3536112,18.4149071 L71.2194022,10.6680415 L73.7865664,10.6680415 L73.7865664,20.7456534 Z"></path>
            </svg>
          </div>
          <div class="scroller-slider-item">
            <svg width="50px" height="50px" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="currentColor">
              <path d="M24.2250105,0 L25.7749895,0 C33.3142537,0.426421712 38.6897563,3.29784865 42.6750315,7.32204138 C46.6604146,11.3462341 49.606334,16.6538005 50,24.2478695 L50,25.7523467 C49.6172213,33.4678335 46.619237,38.5600266 42.6750315,42.7032585 C38.5317293,46.6387936 33.4383253,49.6206101 25.7499811,50 L24.2250105,50 C16.6867165,49.5727133 11.3102437,46.7024757 7.32496847,42.6780667 C3.33969322,38.653874 0.393665988,33.3464157 0,25.7523467 L0,24.2478695 C0.0196186226,24.2423554 0.0292123446,24.2268944 0.0250083541,24.1977023 C0.401966174,16.6326092 3.3640548,11.269902 7.32507626,7.29695774 C11.304315,3.3055251 16.7355474,0.41355554 24.2250105,0 Z M19.32499,3.5857698 C17.83958,3.98472926 16.507454,4.49137534 15.3000464,5.09024701 C11.6248962,6.91302684 8.59414244,9.52085942 6.47500782,12.8635775 C4.40664446,16.1263955 2.61574448,20.3236869 2.87509836,25.8274895 C3.03862282,29.2973556 3.82800289,32.2161387 5.07497116,34.7041753 C7.53753948,39.6167827 11.2866367,43.2365019 16.4751156,45.4365092 C19.0408434,46.5244036 22.2200304,47.2875081 25.8001056,47.1164637 C29.2341192,46.9524471 32.2097899,46.1782062 34.6751609,44.9349447 C39.5069474,42.4981566 43.3147927,38.7384231 45.4253037,33.5507608 C46.4926861,30.9266023 47.2998523,27.895051 47.1253328,24.2226778 C46.7950501,17.2659708 43.9737412,12.5489509 40.2504069,8.95182862 C38.4080889,7.17197207 36.1896754,5.65798038 33.5754401,4.56370701 C31.0389246,3.5019775 27.7368518,2.71476237 24.2003255,2.88364439 C22.461706,2.96667986 20.8216107,3.183783 19.32499,3.5857698 Z"></path>
              <path d="M21.8501735,19 C22.631166,19.5828136 23.4300147,20.1456251 24.1673235,20.7777849 C22.5017092,21.9563475 20.8688311,23.1719198 19.2126762,24.3611421 C19.4641499,24.5778107 19.7500603,24.7555533 20.0014277,24.972222 C21.6713998,23.7800053 23.3419033,22.5885074 25.0054982,21.3888648 C25.7516288,21.9092768 26.4861741,22.4426243 27.1748038,23.0278333 C25.5078077,24.2143009 23.8967183,25.4635292 22.2447087,26.6666452 C22.4894863,26.8909793 22.7895328,27.0527921 23.0580123,27.2500576 C24.7655035,26.0723334 26.4304801,24.8467003 28.1112934,23.639033 L28.1112934,19.6944416 L31.8088913,19.6944416 L31.8088913,27.5557173 C32.852305,27.6203945 34.0028554,27.5649398 35.0875082,27.583265 L35.0875082,31.2778909 L28.1112934,31.2778909 L28.1112934,27.5276905 C26.0616662,28.9309465 23.9612342,30.5178139 21.8994904,32 C19.7523986,30.4289426 17.6831085,28.7697325 15.5397368,27.1944831 C14.9188115,29.4123126 13.4440876,31.0807452 11.0039642,31.2778909 C9.48215537,31.4005381 7.75287548,31.1862648 6,31.2778909 L6,19.6944416 C8.19141321,19.858051 10.5977375,19.3642285 12.3350952,19.9721943 C13.8712527,20.5098536 14.9603695,21.8910714 15.4656551,23.611126 C17.6106212,22.093008 19.7211504,20.5363233 21.8501735,19 Z M9.52488251,23.416735 L9.52488251,27.5833848 C10.405678,27.5882955 11.0756012,27.6459061 11.5954481,27.1946029 C12.3688943,26.5232773 12.5247102,24.8590368 11.8419263,23.9722404 C11.3862764,23.3805637 10.6169754,23.2563595 9.54943467,23.3333733 C9.52094991,23.3380444 9.52275678,23.3773298 9.52488251,23.416735 Z M36.0486562,19.6944416 L39.7461478,19.6944416 L39.7461478,27.5833848 L43,27.5833848 L43,31.2780107 L36.0237852,31.2780107 L36.0237852,19.7778034 C36.021872,19.7383982 36.0198526,19.6991128 36.0486562,19.6944416 Z"></path>
            </svg>
          </div>
          <div class="scroller-slider-item">
            <svg width="109px" height="35px" viewBox="0 0 109 35" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="currentColor">
              <path d="M13.9829723,0 L14.9926019,0 C18.4977312,0.0741805227 21.9457117,1.44652019 24.4221617,3.87593231 C23.5077802,4.78464371 22.574349,5.65626485 21.6790171,6.56497626 C20.2883951,5.34099763 18.6120289,4.39519597 16.7832658,4.06138362 C14.0782204,3.5050297 11.1636292,4.00574822 8.89672489,5.50790381 C6.42027484,7.08423992 4.74390865,9.75473873 4.38196595,12.6106889 C3.98192402,15.4295487 4.8010575,18.3967696 6.68696946,20.585095 C8.49668296,22.7177851 11.2588772,24.0530345 14.1163196,24.1457601 C16.7832658,24.2941212 19.5645097,23.4966806 21.5075705,21.6792578 C23.0315398,20.3996437 23.7363756,18.452405 23.964971,16.5608017 C20.8027347,16.5608017 17.6404985,16.5793468 14.4782623,16.5608017 L14.4782623,12.7405048 L27.7939437,12.7405048 C28.4797299,16.8389786 27.4891499,21.4567162 24.2888144,24.3868468 C22.1552575,26.4639015 19.202567,27.6878801 16.1927277,27.9289668 C13.2781365,28.2071437 10.2682972,27.669335 7.67754948,26.2969953 C4.57246211,24.6835689 2.09601206,21.9574347 0.876836653,18.7491271 C-0.266140293,15.8004513 -0.285189909,12.4623278 0.781588574,9.4951069 C1.75311898,6.78751783 3.61998132,4.39519597 6.02023291,2.72613421 C8.32523642,1.07561758 11.1255299,0.166906176 13.9829723,0 Z"></path>
              <path d="M87,2 L91,2 L91,27.995449 C89.6728972,27.995449 88.3271028,28.0136531 87,27.9772449 C87.0186916,19.3302993 87,10.6651497 87,2 Z"></path>
              <path d="M35.246055,9.1551688 C37.6850183,8.7178644 40.3272287,9.20764533 42.3412212,10.5895272 C44.1704437,11.8139796 45.4453564,13.7381189 45.8333733,15.83718 C46.3322522,18.2685925 45.7040343,20.9274033 44.0411047,22.8515426 C42.2488362,25.0030803 39.3109939,26.1575639 36.4470596,25.9826422 C33.8233263,25.8427048 31.273501,24.6007603 29.7214333,22.5716678 C27.9661188,20.3326693 27.5411479,17.2540463 28.5019517,14.6302199 C29.4627554,11.8139796 32.1788737,9.6624419 35.246055,9.1551688 Z M35.8003648,12.4786822 C34.8026071,12.7235727 33.8787573,13.2658302 33.2135855,14.0354859 C31.4213169,16.0645783 31.5321789,19.3705996 33.5092174,21.2597546 C34.6363141,22.3442695 36.3361977,22.8515426 37.9067423,22.5541757 C39.3664249,22.3092852 40.6413376,21.3821999 41.3434634,20.1577475 C42.5629451,18.0761786 42.2118822,15.2074617 40.3457057,13.5806893 C39.144701,12.5311588 37.3893864,12.0938544 35.8003648,12.4786822 Z"></path>
              <path d="M55.2456378,9.15652263 C58.0377414,8.64903377 61.0887155,9.38401764 63.1781705,11.2389769 C66.5804689,14.1264136 66.950284,19.5337949 64.0472359,22.858722 C62.2906144,24.9586759 59.4430385,26.1136506 56.6324442,25.9911533 C53.9512851,25.9211548 51.3071075,24.6611824 49.7169028,22.5787281 C47.9232999,20.2862784 47.5349941,17.1363475 48.5519855,14.4589063 C49.5689768,11.7289662 52.2316452,9.64651188 55.2456378,9.15652263 Z M55.8003603,12.4814497 C54.8018597,12.7264443 53.8773221,13.2689324 53.211655,14.0214159 C51.4365428,16.0163721 51.5105058,19.2713007 53.4150533,21.1787589 C54.5429892,22.3162339 56.2996107,22.8762216 57.9267969,22.5612285 C59.3690755,22.2987343 60.6634282,21.3887542 61.3660768,20.1637811 C62.5679757,18.0638272 62.2166514,15.1938902 60.3305946,13.5664259 C59.1286958,12.5164489 57.3720743,12.0964581 55.8003603,12.4814497 Z"></path>
              <path d="M71.2781239,10.2372627 C73.3771422,8.90717955 76.1697492,8.53771201 78.4330384,9.68306138 C79.1448794,9.99710879 79.7289541,10.5328367 80.2947764,11.0685646 C80.3130287,10.5697835 80.2947764,10.0525289 80.3130287,9.53527436 C81.535935,9.55374774 82.7588414,9.53527436 84,9.55374774 L84,25.8472662 C83.9817477,28.3042253 83.3611683,30.9089714 81.6089444,32.700889 C79.6924494,34.6775403 76.7538238,35.2871618 74.1072355,34.8807475 C71.2781239,34.4558598 68.814059,32.3683682 67.718919,29.7266753 C68.814059,29.1909474 69.9639559,28.7660597 71.0956006,28.2672785 C71.7344322,29.7820954 73.0303479,31.0752318 74.6548055,31.3708059 C76.2792631,31.6663799 78.1592534,31.2599656 79.2178888,29.8929357 C80.3495334,28.4889591 80.3495334,26.5677279 80.2947764,24.8497038 C79.4551691,25.6810058 78.4877954,26.4199409 77.3196461,26.6970415 C74.7825718,27.4175032 71.9899649,26.5307811 70.0369653,24.7942837 C68.0657133,23.0577863 66.897564,20.3791466 67.007078,17.7189803 C67.061835,14.7078199 68.7410496,11.8074997 71.2781239,10.2372627 Z M75.0563568,12.6018549 C73.9429645,12.7865887 72.9025815,13.4146835 72.1907406,14.2829322 C70.4750213,16.3519504 70.4750213,19.6586849 72.2089929,21.6907564 C73.1946189,22.8915259 74.7825718,23.5565674 76.3157678,23.390307 C77.7577021,23.24252 79.0901224,22.3188512 79.8019634,21.0441882 C81.0066174,18.8828031 80.8058417,15.9455361 79.1813841,14.0612517 C78.1775058,12.897429 76.5713005,12.3247543 75.0563568,12.6018549 Z"></path>
              <path d="M94.8747364,11.0741522 C97.1499466,9.11541934 100.657562,8.45084928 103.577416,9.48268175 C106.345588,10.4445595 108.108876,12.8754868 109,15.3763689 C104.885661,16.9503506 100.790283,18.5068437 96.6759445,20.0808254 C97.2447471,21.0776805 98.116911,21.9870922 99.2924363,22.3543546 C100.941964,22.8965039 102.913813,22.7041283 104.297899,21.6897845 C104.847741,21.3050334 105.283823,20.7978615 105.700945,20.3081783 C106.74375,20.9552597 107.786555,21.5848524 108.829359,22.2319338 C107.350473,24.27811 104.866701,25.7121823 102.193329,25.9395352 C99.235556,26.2718202 96.0881819,25.2224991 94.1732132,23.0888794 C91.0258391,19.7310517 91.3292004,14.0996948 94.8747364,11.0741522 Z M96.9034655,14.3095591 C96.2588226,15.1665047 95.9933814,16.2158258 96.0123415,17.2476583 C98.7615539,16.1983371 101.510766,15.149016 104.259979,14.0822061 C103.804937,13.1028397 102.705252,12.5082244 101.586607,12.3508262 C99.7853985,12.0535186 97.9083501,12.9454416 96.9034655,14.3095591 Z"></path>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>


  <div class="features bg-white">
    <div class="container">
      <h2 class="section-title">Why punch?</h2>
      <div class="columns">
        <div class="column col-4 col-md-6 col-sm-12 col-ml-auto">
          <div class="card">
            <div class="card-image">
              <img data-src="<%= asset_url('img_feature_01.png') %>" alt="Many ways to track" width="100">
            </div>
            <h3 class="card-header">Easy to track</h3>
            <div class="card-body">
              Punch support wide range of devices, browsers so you can use whatever you feel most comfortable to log down your work time, check your current attendance status, or just simply request a day off.
            </div>
            <div class="card-footer">
              <a href="#">Learn more</a>
            </div>
          </div>
          <div class="card">
            <div class="card-image">
              <img data-src="<%= asset_url('img_feature_03.png') %>" alt="Comprehensive reports" width="100">
            </div>
            <h3 class="card-header">Comprehensive reports</h3>
            <div class="card-body">
              With just a click, Punch will generate a comprehensive report about you or your employees attendance status. You can export to CSV file for many other kinds of purpose.
            </div>
            <div class="card-footer">
              <a href="#">Learn more</a>
            </div>
          </div>
        </div>
        <div class="column col-4 col-md-6 col-sm-12 col-mr-auto">
          <div class="card">
            <div class="card-image">
              <img data-src="<%= asset_url('img_feature_02.png') %>" alt="Data on Cloud" width="100">
            </div>
            <h3 class="card-header">Data on Cloud</h3>
            <div class="card-body">
              Punch use cloud technology to backup and syncronize your attendance data across devices, so you dont have to worry about accidentally losing your devices, or limitation on number of device to login of some other solution.
            </div>
            <div class="card-footer">
              <a href="#">Learn more</a>
            </div>
          </div>
          <div class="card">
            <div class="card-image">
              <img data-src="<%= asset_url('img_feature_04.png') %>" alt="No time-comsuming, paper-wasting, just profit." width="100">
            </div>
            <h3 class="card-header">No time-comsuming, paper-wasting, just profit.</h3>
            <div class="card-body">
              You dont have to follow unnecessary steps to fill down an annual leave form or the time you waiting to receive the confirmation. With Punch, all of those things will be gone so you can have time to focus on what you do best.
            </div>
            <div class="card-footer">
              <a href="#">Learn more</a>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center mt-24">
        <a href="#" class="btn">See All Features</a>
      </div>
    </div>
  </div>

  <div class="download bg-gray">
    <div class="container">
      <h2 class="section-title">Available for Android & iOS</h2>
      <ul class="download-widget">
        <li class="download-widget-item">
          <a href="#"><img data-src="<%= asset_url('img_widget_01.png') %>" alt="Download Punch on iOS" width="120"></a>
        </li>
        <li class="download-widget-item">
          <a href="#"><img data-src="<%= asset_url('img_widget_02.png') %>" alt="Download Punch on Android" width="132"></a>
        </li>
      </ul>
      <div class="columns">
        <div class="column col-10 col-xl-12 col-mx-auto">
          <div class="scroller scroller-lg">
            <p class="scroller-title">Click on devices to download</p>
            <div class="scroller-control">
              <div class="scroller-slider">
                <div class="scroller-slider-item">
                  <a href="#"><img data-src="<%= asset_url('img_device_01.png') %>" alt="Dowloand Punch on Ipad" width="288"></a>
                </div>
                <div class="scroller-slider-item">
                  <a href="#"><img data-src="<%= asset_url('img_device_02.png') %>" alt="Download Punch on Iphone" width="160"></a>
                </div>
                <div class="scroller-slider-item">
                  <a href="#"><img data-src="<%= asset_url('img_device_03.png') %>" alt="Download Punch on Android mobile" width="152"></a>
                </div>
                <div class="scroller-slider-item">
                  <a href="#"><img data-src="<%= asset_url('img_device_04.png') %>" alt="Download Punch on Android tablet" width="400"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% unless Rails.env.production? %>
  <div class="comment bg-linear-gray">
    <h2 class="comment-title">What customer think <br>about us!</h2>
    <div class="comment-group scroller">
      <div class="scroller-control">
        <div class="scroller-slider">
          <div class="scroller-slider-item card card-comment">
            <div class="card-header">
              <div class="tile">
                <div class="tile-icon">
                  <img data-src="<%= asset_url('img_avatar.png') %>" alt="John Doe" class="avatar avatar-lg">
                </div>
                <div class="tile-content">
                  <h4 class="tile-title">John Doe</h4>
                  <p>CEO, Facbook</p>
                </div>
              </div>
            </div>
            <div class="card-body">
              “ There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form ”
            </div>
          </div>
          <div class="scroller-slider-item card card-comment card-center">
            <div class="card-header">
              <div class="tile">
                <div class="tile-icon">
                  <img data-src="<%= asset_url('img_avatar.png') %>" alt="Mary Jane" class="avatar avatar-lg">
                </div>
                <div class="tile-content">
                  <h4 class="tile-title">Mary Jane</h4>
                  <p>HR, Google</p>
                </div>
              </div>
            </div>
            <div class="card-body">
              “ There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form ”
            </div>
          </div>
          <div class="scroller-slider-item card card-comment">
            <div class="card-header">
              <div class="tile">
                <div class="tile-icon">
                  <img data-src="<%= asset_url('img_avatar.png') %>" alt="Amanda Lee" class="avatar avatar-lg">
                </div>
                <div class="tile-content">
                  <h4 class="tile-title">Amanda Lee</h4>
                  <p>PM, Apple</p>
                </div>
              </div>
            </div>
            <div class="card-body">
              “ There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form ”
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>

  <%= render 'shared/get_started_block' %>
</div>
