<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1">
<link rel="manifest" href="manifest.json">

<% if ENV['GOOGLE_SITE_VERIFICATION'] %>
<meta name="google-site-verification" content="<%= ENV['GOOGLE_SITE_VERIFICATION'] %>">
<% end %>

<title><%= yield(:page_title) %></title>
<meta name="description" content="<%= yield(:page_description) %>">

<link rel="canonical" href="<%= yield(:page_url) %>">

<%= yield(:meta) if content_for?(:meta) %>

<meta property="og:title" content="<%= yield(:page_title) %>">
<meta property="og:site_name" content="<%= yield(:page_title) %>">
<meta property="og:description" content="<%= yield(:page_description) %>">
<meta property="og:url" content="<%= yield(:page_url) %>">
<meta property="og:image" content="<%= asset_url('og.png') %>">
<meta property="og:type" content="website">

<meta name="twitter:site" content="<%= yield(:page_title) %>">
<meta name="twitter:title" content="<%= yield(:page_title) %>">
<meta name="twitter:description" content="<%= yield(:page_description) %>">
<meta name="twitter:image" content="<%= asset_url('og.png') %>">
<meta name="twitter:card" content="summary_large_image">

<link rel="shortcut icon" type="image/x-icon" href="<%= asset_url('favicon.ico') %>">
<link rel="apple-touch-icon" sizes="180x180" href="<%= asset_url('icon_180x180.png') %>">
<link rel="apple-touch-icon" sizes="152x152" href="<%= asset_url('icon_152x152.png') %>">
<link rel="apple-touch-icon" sizes="120x120" href="<%= asset_url('icon_120x120.png') %>">
<link rel="apple-touch-icon" sizes="76x76" href="<%= asset_url('icon_76x76.png') %>">
<link rel="icon" sizes="192x192" href="<%= asset_url('icon_192x192.png') %>">
<%= csrf_meta_tags %>

<%= render 'shared/google_analytic' %>
<%= render 'shared/webfont_loader' %>
<%= stylesheet_link_tag('application', media: 'all') %>
<script>
window.LANG = '<%= I18n.locale %>'
window.protocol = '<%= request.protocol %>'
window.domain = '<%= ENV["APP_DOMAIN"] %>'
</script>
</head>

<body class="bg-gray">

<%= yield(:header) %>
<%= yield %>
<%= yield(:footer) %>

<%= javascript_include_tag('application') %>
<%= yield(:js) %>
</body>
</html>
